<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.challenge.subreadit">


    <uses-permission android:name="android.permission.INTERNET"></uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@drawable/reddit"
        android:label="@string/app_name"
        android:roundIcon="@drawable/reddit"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PostListActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"
            android:launchMode="singleTop">


            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PostDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".PostListActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.challenge.subreadit.PostListActivity" />
        </activity>
    </application>

</manifest>